<!DOCTYPE html>
<html ng-app="towerOfMetabApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<title></title>
	<link rel="stylesheet" href="style.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ngstorage/ngStorage.min.js"></script>
	<script src="bower_components/ui-bootstrap/dist/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<div class="page-header pageHeader">
			<div class="row">
				<div class="col-sm-6">
					<h1>Tower of Metab <small>{{bookmarksSum}}m<sup>2</sup> {{bookmarksPages.length}}階建て</small></h1>
				</div>
				<div class="col-sm-4 vaBottom">
					<input class="form-control" type="text" ng-model="targetUrl">
				</div>
				<div class="col-sm-2 vaBottom">
					<button ng-click="climb()" class="btn btn-primary submitBtn">タワーを登る</button>
				</div>
			</div>
		</div>

		<div ng-if="bookmarksPages.length" class="panel panel-primary">
			<div ng-repeat-start="data in bookmarksPages" class="panel-heading"><a href="{{data.entry_url}}" target="_blank">{{data.title}}</a><span class="badge pull-right">{{data.count}}</span></div>
			<table ng-repeat-end class="table table-condensed bookmarkTable">
				<tbody>
					<tr ng-repeat="bookmark in data.bookmarks" ng-if="bookmark.comment" ng-class="hasIdCallClass(bookmark.comment)">
						<th>
							<a href="http://b.hatena.ne.jp/{{bookmark.user}}/" target="_blank"><img src="http://cdn1.www.st-hatena.com/users/{{bookmark.user.slice(0, 2)}}/{{bookmark.user}}/profile_s.gif" width="16" height="16" class="userImage" alt="{{bookmark.user}}"> {{bookmark.user}}</a>
						</th>
						<td>
							<ul class="list-inline">
								<li>{{bookmark.comment}}</li>
								<li class="small"><a href="http://b.hatena.ne.jp/{{bookmark.user}}/{{getDate(bookmark.timestamp)}}#bookmark-{{data.eid}}" target="_blank"><time datetime="{{bookmark.timestamp}}">{{bookmark.timestamp}}</time></a></li>
								<li class="small"><a href="http://b.hatena.ne.jp/entry/{{data.eid}}/comment/{{bookmark.user}}" target="_blank"><span class="glyphicon glyphicon-link" title="パーマリンク"></span></a></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	
</body>
</html>